main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:40px;
}
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Sigmar Cyr";
    font-size: 25px;
    height: 100vh;
}

.banner img{
    animation: rotate 5s infinite alternate;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.info{
    position: relative;
    width: 80%;
    height: 500px;
    background: var(--thirdcolortransperent);
    border-radius: 15px;
    box-shadow: inset 5px 5px 15px var(--thirdcolor), inset -5px -5px 15px var(--thirdcolor);
    max-width: 1200px;
}

@media (max-width:600px) {
    .info{
        width: 100%;
    }
}

.special-container{
    display: grid;
    width:600px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.special-container p{
    padding: 8px;
    border-radius: 8px;
    background: var(--thithcolor);
    font-family: "Sigmar Cyr";
    font-size: 25px;
    color: rgb(232, 232, 232);
    box-shadow: 0 0 15px black;
}

#special1 img{
    height:300px;
    width: 300px;
}
.special{
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    box-shadow: none;
}

.menu h1{
    z-index: 4;
    right:15px;
}
.menu-card{
    position: relative;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--maincolor);
    width: 90%;
    max-width: 300px;
    height: 400px;
    border-radius: 15px;
    box-shadow: 0 0 15px black;
}
.menu-card img{
    width: 100%;
    height: 40%;
    border-radius: 10px;
}
.menu-card p {
    background: white;
    height: 30px;
    width: fit-content;
    padding: 8px;
    border-radius: 15px;
    padding:8px;
    text-align: center;
    font-family: "Sigmar Cyr";
}
.menu-card span{
    background: white;
    height: 130px;
    width: 90%;
    border-radius: 10px;
    padding: 5px;
    overflow: hidden;
    font-family: "Sigmar Cyr";
}
.menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.reviews{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.menu-card div{
    position: absolute;
    bottom: -15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 110%;
}
.menu-card h2{
    position: absolute;
    top:-30px;
    padding: 8px;
    left: 15px;
    font-family: "Sigmar Cyr";
    font-size: 15px;
    color: white;
    border-radius: 15px;
    background: var(--thithcolor);
    box-shadow: 0 0 15px black;
}
.menu-card button{
    border-radius: 15px;
    font-size: 15px;
    background: var(--headercolor);
    color: white;
    font-family: "Sigmar Cyr";
    border: 2px solid white;
    outline: none;
    cursor: pointer;
}
.rewiew-card{
    position: relative;
    width: 400px;
    height: 200px;
    padding: 8px;
    border-radius: 15px;
    background: var(--thirdcolortransperent);
    box-shadow: inset 5px 5px 15px var(--thirdcolor), inset -5px -5px 15px var(--thirdcolor);
}
.rewiew-card img{
    position: absolute;
    top:-30px;
    left:-30px;
    border-radius: 50%;
    border: 2px solid black;
    background: white;
    width: 60xp;
    height: 60px;
    pointer-events: none;
}
.rewiew-card .text{
    border-top: 2px solid white;
    margin-top: 25px;
    text-wrap: wrap;
    overflow-wrap: break-word;
    font-size: 15px;
    font-family: "Sigmar Cyr";
    color: white;
    height: 100%;
    pointer-events: none;
}
.rewiew-card .stars{
    position: absolute;
    right:-10px;
    top:-10px;
    padding: 8px;
    display: flex;
    background: var(--maincolor);
    box-shadow: 0 0 15px var(--maincolor);
    border-radius: 15px;
    pointer-events: none;
}
.stars svg{
    fill:yellow;
}
.rewiew-card h2{
    left: 15px;
    padding-left: 30px;
    pointer-events: none;
}
h2{
    position: absolute;
    top:-30px;
    padding: 8px;
    left: 15px;
    font-family: "Sigmar Cyr";
    font-size: 15px;
    color: white;
    border-radius: 15px;
    background: var(--thithcolor);
    box-shadow: 0 0 15px black;
}
.reviews{
    height: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    background: none;
    box-shadow: none;
}