
.product{
    position: relative;
    margin-top: 125px;
    min-height: 70vh;
}

.img-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 15px;
    padding-top: 20px;
    border-radius: 15px;
    background: var(--thirdcolortransperent);
    box-shadow: inset 5px 5px 15px var(--thirdcolor), inset -5px -5px 15px var(--thirdcolor);
    height: 400px;
    width: 250px;
    gap:10px;
    top:0;
    left:200px;
}
.img-section textarea{
    resize: none;
    outline: none;
    border: 2px solid black;
    background: white;
    height: 130px;
    width: 90%;
    border-radius: 10px;
    padding: 5px;
    overflow: hidden;
    font-family: "Sigmar Cyr";
}
.img-section label{
    font-family: 'Sigmar Cyr';
    text-wrap: nowrap;
    font-size: 15px;
    border-radius: 10px;
    padding: 8px;
    border: none;
    outline: none;
    background: var(--maincolor);
    color: white;
    width: 200px;
    cursor: pointer;
}
.img-section img{
    position: relative;
    width: 90%;
    height: 40%;
    border-radius: 10px;
    border: 2px solid black;
    background: white;
}
.img-section input[type="text"]{
    position: absolute;
    font-size: 15px;
    padding: 5px;
    top:-10px;
    left: 10px;
    font-family: 'Sigmar Cyr';
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    outline: none;
    border: 2px solid black;
}
.text-section{
    position: absolute;
    top:0;
    right:50px;
    padding: 15px;
    border-radius: 15px;
    background: var(--thirdcolortransperent);
    box-shadow: inset 5px 5px 15px var(--thirdcolor), inset -5px -5px 15px var(--thirdcolor);
}
.text-section textarea{
    outline: none;
    resize: none;
    border: 2px solid black;
    background: white;
    height: 500px;
    width: 600px;
    border-radius: 10px;
    padding: 5px;
    font-family: "Sigmar Cyr";
}
.text-section h1{
    right: 15px;
}
.create-section{
    position: absolute;
    width: 250px;
    bottom:0;
    left: 200px;
    padding: 15px;
    border-radius: 15px;
    background: var(--thirdcolortransperent);
    box-shadow: inset 5px 5px 15px var(--thirdcolor), inset -5px -5px 15px var(--thirdcolor);
}

.create-section input{
    font-size: 12px;
    left: 10px;
    font-family: 'Sigmar Cyr';
    border-radius: 10px;
    padding: 8px;
    outline: none;
    border: 2px solid black;
}
.create-section button{
    position: absolute;
    bottom: -15px;
    right: -10px;
    font-family: 'Sigmar Cyr';
    font-size: 15px;
    border-radius: 15px;
    padding: 8px;
    border: none;
    outline: none;
    background: var(--maincolor);
    color: white;
    cursor: pointer;
    border: 3px solid black;
}




